@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:ital,wght@0,400;0,500;0,700;1,400&display=swap");

// colors
$red: hsl(12, 88%, 59%);
$pale-red: hsl(13, 100%, 96%);
$light-red: #fcf6f5;
$alert-red: #f33c3c;
$dark-blue: hsl(228, 39%, 23%);
$dark-gray-blue: hsl(227, 12%, 61%);
$very-dark-blue: hsl(233, 12%, 13%);
$gray: hsl(0, 0%, 98%);
$white: #fff;

// Weights
$weight-regular: 400;
$weight-medium: 500;
$weight-bold: 700;

// helpers
$transition: 300ms ease-in-out;

body {
  background: $red;
}
